.sidebar-admin a {
  padding: 0.3rem;
  display: block;
  text-decoration: none;
}

a:hover {
  color: #007bff !important;
}

.active a {
  border-radius: 0.2rem;
  color: white !important;
  background-color: #007bff !important;
  /*  color: #007bff !important;
    background-color: white !important; */
}
