<div class="col-lg-12 container-messages d-flex">
  <div class="col-lg-2">
    <h3 class="text-primary mt-5">{{title}}</h3>
    <div class="sidebar-admin">
      <ul class="nav flex-column">
        <li class="nav-item" role="presentation" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/home']" class="text-dark">
            Inicio
          </a>
        </li>
        <li class="nav-item" role="presentation" [routerLinkActive]="['active']">
          <a class="nav-link"[routerLink]="['enviar']" class="text-dark">
            Enviar mensaje
          </a>
        </li>
        <li class="nav-item" role="presentation" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['recibidos']" class="text-dark">
            Mensajes recibidos
          </a>
        </li>
        <li class="nav-item" role="presentation" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['enviados']" class="text-dark">
            Mensajes enviados
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-lg-10">
    <!-- componentes/router-outlet -->
    <router-outlet></router-outlet>
  </div>
</div>
