<!-- privacy-policy.component.html -->
<div class="privacy-policy">
    <h2>Política de Privacidad</h2>
  
    <p>Última actualización: [Fecha de la última actualización]</p>
  
    <p>Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que obtengamos de los usuarios de nuestra plataforma (en adelante, "nosotros" o "la plataforma"). Al utilizar nuestros servicios, aceptas las prácticas descritas en esta política de privacidad.</p>
  
    <h3>1. Información que Recopilamos</h3>
  
    <p>1.1 <strong>Información de Registro:</strong> Cuando te registras en nuestra plataforma, recopilamos información como tu nombre, dirección de correo electrónico y otra información necesaria para crear tu cuenta.</p>
  
    <p>1.2 <strong>Información de Uso:</strong> Recopilamos información sobre cómo interactúas con la plataforma, como la frecuencia de uso, las páginas que visitas y las acciones que realizas.</p>
  
    <h3>2. Uso de la Información</h3>
  
    <p>2.1 <strong>Mejora de la Experiencia:</strong> Utilizamos la información recopilada para mejorar la experiencia del usuario, personalizar contenido y proporcionar funciones específicas de la plataforma.</p>
  
    <p>2.2 <strong>Comunicación:</strong> Podemos utilizar tu dirección de correo electrónico para enviarte actualizaciones sobre la plataforma, notificaciones importantes y otras comunicaciones relevantes.</p>
  
    <h3>3. Compartir Información</h3>
  
    <p>3.1 <strong>Terceros:</strong> No compartiremos tu información personal con terceros sin tu consentimiento, excepto cuando sea necesario para proporcionar servicios solicitados o cumplir con requisitos legales.</p>
  
    <h3>4. Seguridad de la Información</h3>
  
    <p>4.1 <strong>Medidas de Seguridad:</strong> Implementamos medidas de seguridad para proteger tu información personal contra accesos no autorizados, divulgación o destrucción.</p>
  
    <h3>5. Derechos de Privacidad</h3>
  
    <p>5.1 <strong>Acceso y Corrección:</strong> Puedes acceder y corregir tu información personal en cualquier momento a través de la configuración de tu cuenta.</p>
  
    <h3>6. Cambios en la Política de Privacidad</h3>
  
    <p>6.1 <strong>Actualizaciones:</strong> Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Te notificaremos sobre cambios significativos a través de la plataforma o por otros medios adecuados.</p>
  
    <p>Te alentamos a revisar periódicamente esta política de privacidad para mantenerte informado sobre cómo protegemos tu información personal.</p>
  
    <p>Si tienes preguntas o inquietudes sobre esta política de privacidad, contáctanos en [tucorreo@ejemplo.com].</p>
  
    <p>Al utilizar nuestra plataforma, aceptas los términos de esta política de privacidad.</p>
  </div>
  

  <!-- Por ejemplo, en tu componente app.component.html -->
<a routerLink="/terms-and-conditions">Términos y Condiciones</a>
<a routerLink="/privacy-policy">Política de Privacidad</a>
